<!DOCTYPE html>
<html>
<head>
  <title>GratBlog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="left-nav">
    <ul>
      <li><%= link_to "GratGrows", stories_path %></li>
    </ul>
  </div>
  <div class="right-nav">
    <ul class="nav navbar-nav">
      <li><%= link_to "Add Story", new_story_path %></li>
      <li><%= link_to "Map", stories_path %></li>
      <li><%= link_to "Sign In", new_story_path %></li>
      <li><%= link_to "Contact us", new_story_path %></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</header>
<%= yield %>
<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
</div>
</body>
</html>
